.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .notification-list {
    width: 50%;
  }

  .preview {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
  }
}
