<div *ngIf="selectedNotification">
  <h2 class="title">Notification preview</h2>
  <div class="card">
    <img [src]="selectedNotification.thumbnail" class="card-img-top" alt="notification-image">
    <div class="card-body">
      <h5 class="card-title">{{selectedNotification.title}}</h5>
      <p class="card-text">{{selectedNotification.description}}</p>
      <p class="card-text d-lg-inline"><small class="text-muted">{{selectedNotification.pubDate}}</small></p>
      <a [href]="selectedNotification.link" target="_blank" class="btn btn-primary float-right">Go to full version</a>
    </div>
  </div>
</div>
